{% extends "main.html" %}

{% load static %}

{% block content %}
  <h1>Card: {{ card }}</h1>
  {% if card.status == 'n' or card.status == 'e' %}
    <button class="btn btn-outline-primary">Activate</button> 1m / 6m / 12m
  {% else %}
    <a class="btn btn-outline-primary" href="{% url 'deactivate' card.pk %}">Deactivate</a>
  {% endif %}
    <button class="btn btn-outline-primary">Delete</button>
  <table>
    <tr {% if card.status == 'e' %}
              class="expired"
            {% elif card.status == 'n' %}
              class="not-active"
            {% endif %}><th>Status:</th> <td>{{ card.get_status_display }}</td></tr>
    <tr><th>Issued:</th> <td>{{ card.issued }}</td></tr>
    <tr><th>Expires:</th> <td>{{ card.expires }}</td></tr>
    <tr><th>Last usage:</th> <td>{{ card.last_used }}</td></tr>
    <tr><th>Amount:</th> <td>{{ card.amount }}</td></tr>
  </table>
  
  <div class="mt-4">
    <h4>Purchase History:</h4>
    {% if purchase_list %}
      <ul>
      
        {% for purchase in purchase_list %}
          <li>
            <strong>Purchase date:</strong> {{ purchase.purchase_date }}
            <strong>Amount:</strong> <span class="text-success">{{ purchase.amount }}</span></li>
        {% endfor %}
    
    </ul>
  {% else %}
    <p>No purchases found.</p>
  {% endif %}
  </div>
{% endblock content %}

