{% extends "main.html" %}

{% load static %}

{% block content %}
  <h1>Card List</h1>

  <form method="get" class="mb-4">
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-primary">Search</button>
  </form>

  {% if card_list %}
    <table>
      <tr>
        <th>Series/Number:</th>
        <th>Issued:</th>
        <th>Expires:</th>
        <th>Status:</th>
      </tr>
      {% for card in card_list %}
      <tr>  
        <td><a href="{{ card.get_absolute_url }}">{{ card }}</a></td>
        <td>{{ card.issued }}</td>
        <td>{{ card.expires }}</td>
        <td>{{ card.get_status_display }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no cards.</p>
  {% endif %}
{% endblock %}

