{% extends "main.html" %}

{% load static %}

{% block content %}
  <h1>Card: {{ card }}</h1>
  {% if card.check_if_expired or card.status == 'n' %}
    <button class="btn btn-outline-primary">Activate</button> 1m / 6m / 12m
  {% else %}
    <button class="btn btn-outline-primary">Deactivate</button>
  {% endif %}
    <button class="btn btn-outline-primary">Delete</button>
  <table>
    <tr><th>Status:</th> <td>{{ card.get_status_display }}</td></tr>
    <tr><th>Issued:</th> <td>{{ card.issued }}</td></tr>
    <tr><th>Expires:</th> <td>{{ card.expires }}</td></tr>
    <tr><th>Last usage:</th> <td>{{ card.last_used }}</td></tr>
    <tr><th>Amount:</th> <td>{{ card.amount }}</td></tr>
  </table>
  
  <div class="mt-4">
    <h4>Purchase History:</h4>
    {% if purchase_list %}
      <ul>
      
        {% for purchase in purchase_list %}
          <li>
            <strong>Purchase date:</strong> {{ purchase.purchase_date }}
            <strong>Amount:</strong> <span class="text-success">{{ purchase.amount }}</span></li>
        {% endfor %}
    
    </ul>
  {% else %}
    <p>No purchases found.</p>
  {% endif %}
  </div>
{% endblock content %}

