{% extends "main.html" %}

{% load static %}

{% block content %}
  <h1>Card: {{ card }}</h1>
  <form method="post" action="{% url 'card-detail' card.pk %}">
    {% csrf_token %}
    {% if card.status == 'e' or card.status == 'n' %}
      {{ form.as_p }}
      <button type="submit" name="activate" class="btn btn-outline-primary mng-card">Activate card</button>
    {% else %}
      <button type="submit" name="deactivate" class="btn btn-outline-primary mng-card">Deactivate card</button>
    {% endif %}
  </form>

  <button class="btn btn-outline-primary mt-3 mng-card">Delete card</button>

  <table class="mt-4">
    <tr {% if card.status == 'e' %}
              class="expired"
            {% elif card.status == 'n' %}
              class="not-active"
            {% endif %}><th>Status:</th> <td>{{ card.get_status_display }}</td></tr>
    <tr><th>Issued:</th> <td>{{ card.issued }}</td></tr>
    <tr><th>Expires:</th> <td>{{ card.expires }}</td></tr>
    <tr><th>Last usage:</th> <td>{{ card.last_used }}</td></tr>
    <tr><th>Amount:</th> <td>{{ card.amount }}</td></tr>
  </table>

  <div class="mt-4">
    <h4>Purchase History:</h4>
    {% if purchase_list %}
      <ul>
      
        {% for purchase in purchase_list %}
          <li>
            <strong>Purchase date:</strong> {{ purchase.purchase_date }}
            <strong>Amount:</strong> <span class="text-success">{{ purchase.amount }}</span></li>
        {% endfor %}
    
    </ul>
  {% else %}
    <p>No purchases found.</p>
  {% endif %}
  </div>
{% endblock content %}

